

#firstId {
    background-color: black;
}

#secondId {
    background-color: red;
    justify-content: center;
}

#thirdId {
    background-color: purple;
    justify-content: center;
}

#fortId {
    background-color: pink;
    justify-content: center;

}

#fifthId {
    background-color: white;
}

