@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Concert+One&family=Francois+One&family=Lilita+One&display=swap');


body { background-color: green;
       background-repeat: no-repeat;
       background-size: cover;
       width: 50px;
}

h1 { color: rgb(255, 255, 255);
    font-family: Concert One;
      margin: 50%;}